<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        html {
            font-family: sans-serif;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(0, 0, 0);
            letter-spacing: 1px;
            font-size: 0.8rem;
        }

        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 10px 20px;
        }

        th {
            background-color: rgb(235, 235, 235);
        }

        td {
            text-align: center;
        }
    </style>
    <title>testing</title>
</head>

<body>

    <div>
        {{ currentStoryId }}
    </div>



    

    
    <table>
        <tr>
            <td></td>
            <td>
                {% if north.text %}
                <div>
                    <a href="/{{ currentStoryId }}1">{{ north.text }}</a>
                </div>
                {% else %}
                <form action="/{{ currentStoryId }}" method="post">
                    <input type="text" name="north" id="northID">
                    <input type="submit" value="Send north">
                    <input type="hidden" name="currentStoryId" value="{{currentStoryId}}">
                </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                {% if west.text %}
                <div>
                    <a href="/{{ currentStoryId }}4">{{ west.text }}</a>
                </div>
                {% else %}
                <form action="/{{ currentStoryId }}" method="post">
                    <input type="text" name="west" id="westID">
                    <input type="submit" value="Send west">
                    <input type="hidden" name="currentStoryId" value="{{currentStoryId}}">
                </form>
                {% endif %}
            </td>
            <td>
                <div>
                    {{ currentFragment.text }}
                </div>
            </td>
            <td>
                {% if east.text %}
                <div>
                    <a href="/{{ currentStoryId }}2">{{ east.text }}</a>
                </div>
                {% else %}
                <form action="/{{ currentStoryId }}" method="post">
                    <input type="text" name="east" id="eastID">
                    <input type="submit" value="Send east">
                    <input type="hidden" name="currentStoryId" value="{{currentStoryId}}">
                </form>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                {% if south.text %}
                <div>
                    <a href="/{{ currentStoryId }}3">{{ south.text }}</a>
                </div>
                {% else %}
                <form action="/{{ currentStoryId }}" method="post">
                    <input type="text" name="south" id="southID">
                    <input type="submit" value="Send south">
                    <input type="hidden" name="currentStoryId" value="{{currentStoryId}}">
                </form>
                {% endif %}
            </td>
            <td></td>
        </tr>
    </table>
</body>

</html>